hello-demo/src/main/mule/hello-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="41c01bda-76af-4bec-a3e3-14ec27d82bdf" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="hello-demoFlow" doc:id="6aabf5cc-ffea-4b63-a1da-08dfb1a64d09" >
		<http:listener doc:name="Listener" doc:id="8d323eff-55f3-45f1-880d-971b59ddc4d3" config-ref="HTTP_Listener_config" path="/demo"/>
		<set-payload value="Hello world" doc:name="Set Payload" doc:id="5169ec07-ad8c-437d-885e-ad15674a3e02" />
		<logger level="INFO" doc:name="Logger" doc:id="a673372d-209a-4729-8b97-cc45cef015bc" message="#[payload]"/>
	</flow>
</mule>
